*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.logo ul li{
    text-align: right;
    list-style: none; 
    display: inline-block;
} 
body{
    background-image: linear-gradient(rgba(100, 100, 100, 0.1), rgba(89, 89, 89, 0.1)), url("../css/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
form{
    text-align: center;
}
nav{
    position: relative;
    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
    padding-top: 3vh;
    flex-direction: column;
    width: 100%;
}

.logo ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 2vh;
    list-style: none;
    padding: 4px 16px;
    display: inline-block;
    font-size: 1.1vw;
} 

.logo ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: pink;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.logo ul li a:hover::after{
    width: 100%;
}

.logo ul li{
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 4px 16px;
    margin-left: 100vh;
}
.sm{
    position: relative;
    text-align: center;
    margin-top: 35vh;
}

.input_box{
    padding: 0.3vh;
    padding-left: 7vh;
    text-align: left;
    margin-right: 1vw;
    /* margin-top: 0.2vw; */
}

h2{
    text-align: center;
    color: whitesmoke;
    font-size: 5vw;
    padding-top: 10vw;
    padding-bottom: 2vw;
}

#payment{
    /* padding-top: 15vw; */
    padding-right: 2vw;
}
#submit{
    position: relative;
    padding-top: 1.3vh;
    padding-bottom: 1vh;
    text-align: center;
}
input, textarea{
    background-color: transparent;
    border: whitesmoke;
    color: whitesmoke;
    border-radius: 4cm;
    border-style: solid;
    padding-left: 2vh;
    padding-right: 2vh;
}
button, textarea{
    background-color: transparent;
    border: whitesmoke;
    color: whitesmoke;
    border-radius: 4cm;
    border-style: solid;
    padding-left: 2vh;
    padding-right: 2vh;
}
input:hover{
    transition: 0.5s;
    background-color:rgb(27, 25, 27);
}   
button:hover{
    transition: 0.5s;
    background-color:rgb(27, 25, 27);
} 
::placeholder{
    color: whitesmoke;
}
.sm ul li{
    position: relative;
    display: inline-block;
    cursor: pointer;
    list-style: none;
    padding: 4px 16px;
    font-size: 20px;
    color: whitesmoke;
    text-shadow: 1px 1px black;
}
.footer p{
    padding-top: 1vh;
    padding-bottom: 3vh;
    color: whitesmoke;
    text-shadow: 1px 1px black; 
    font-size: small;
}
.sm{
    position: relative;
    text-align: center;
    margin-top: 10vh;
    /* top: 10vh; */
}
